#section-galeria {
    padding-bottom: 30px;
}

#section-galeria h2 {
    font-size: 30px;
    padding-top: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: var(--quetzal-rojo-normal);
}

.imagenes-galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 500px;
    flex-basis: 80%;
}

.imagenes-galeria img {
    flex-grow: 1;
}
