@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

#menu-comida {
    background-image: url(../src/img/more-leaves-on-green.png);
    filter: brightness(1.2);
}

#menu-comida-contenido {
    padding: 70px 0px;
}

#carta-menu {
    font-family: "Mukta", sans-serif;
    margin: 0px auto;
    background: #b0cfe7;
    width: 90%;
    padding: 20px 0px 30px 0px;
}

#carta-menu h2 {
    font-family: inherit;
    color: var(--quetzal-verde-obscuro);
    font-size: 45px;
    text-align: center;
    border-bottom: 3px solid var(--quetzal-verde-obscuro);
    padding-bottom: 20px;
    width: 70%;
    margin: 0px auto;
    margin-bottom: 30px;
}

.carta-menu_categoria {
    margin-top: 30px;
    font-family: inherit;
    color: var(--quetzal-verde-obscuro);
    font-size: 30px;
}

.carta-menu_categoria h3 {
    font-family: inherit;
    text-align: center;
    border-bottom: 3px solid var(--quetzal-rojo-obscuro);
    width: 30%;
    margin: 0 auto;
}

.carta-menu_comida {
    color: var(--quetzal-negro);
    padding-top: 20px;
    font-family: inherit;
    width: 50%;
    min-width: 350px;
    margin: 0 auto;
}

.carta-menu_comida h3 {
    margin-bottom: 5px;
    font-family: inherit;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.carta-menu_comida p {
    font-size: 20px;
    text-align: center;
}

.carta-menu_comida h4 {
    font-family: inherit;
    font-size: 22px;
    text-align: center;
    color: var(--quetzal-verde-obscuro);
}
